h1{
    background-color: khaki;
}
ul {
    background-color: blue;
    text-align: left;
}
ul li{
    background-color: aqua;
}

ol {
    background-color: brown;
}
ol li{
    background-color: blueviolet;
}
footer{
    background-color: yellowgreen;
    text-align: center;
    text-shadow: 10ch;
}

#lib{
    color: tomato;
}



/* vscode://vscode.github-authentication/did-authenticate?windowid=1&code=b831f9d2f90ef48e173a&state=ce6e957d-88e5-4c79-9a60-7a89b881e328 */